=form_for @show, :remote => true do |t|
  =t.label :artist
  =t.text_field :artist
  =t.label :date
  =t.text_field :date, :placeholder => "YYYY-MM-DD"
  =select_tag :venues, options_from_collection_for_select(@venues, "id", "name")
  =t.submit
  =button_to_function('Cancel', 'cancel_show_form()')